@if (owned) {
    <div class="d-flex flex-column justify-content-between align-items-center">
        <p>{{ building.type }} - Level {{ building.level }}</p>
        <p>Produces {{ building.productionRate }} pieces of {{ building.resourceProduction }} every {{ building.productionRateNbSeconds }} seconds</p>

        <div class="w-100">
            <ngb-progressbar class="mb-3" type="success"
                [value]="displayPercent(building)"
                [animated]="true"
                [striped]="true"
                height="5px"
            ></ngb-progressbar>
        </div>
        
        <button class="btn btn-info" (click)="upgrade()">Upgrade</button>
    </div>
} @else {
    <div class="d-flex flex-column justify-content-between align-items-center">
        <p>{{ building.type }} - {{ building | highestTier }}</p>
        <p>{{ building.resourceProduction }}</p>
        <ul>
            <li *ngFor="let resource of building.resourceCost">
                {{ resource.type }} : {{ resource.amount }}
            </li>
        </ul>
        <button [disabled]="!canBuild" class="btn btn-warning" (click)="build()">Build</button>
    </div>
}