<div class="container mt-4">
    <div class="d-flex justify-content-between"> 
        <div>
            <h3 class="text-center">Ogame Idle Clicker</h3>
        </div>
        
        <div class="d-inline-flex gap-1">
            <button type="button" class="btn btn-success" (click)="saveGame()">Save Game</button>
            <button type="button" class="btn btn-primary" (click)="loadGame()">load Game</button>
        </div>
    </div>

    @if (this.userGameState) {
        <div class="text-end">
            Last saved: {{ getSavedAtFormatted() }}
        </div>

        @for (planet of this.userGameState.planets; track $index) {
            <app-planet [planet]="planet"></app-planet>
        }
    }
</div>